---
# Get yours at https://cloud.digitalocean.com/api_access (Legacy API)
digital_ocean_api_key: 8af56de68279cb6f5ed022f31af18b9fcdcc2e92
digital_ocean_client_id: 33655e63cafac69a5287e96f71457bbfa6d7deec

# Choose something you can remember. You'll need it when logging in.
openvpn_password: JiGfwuZQSrbJ4u7ZpGfg

# Get it using curl 'https://api.digitalocean.com/v1/ssh_keys/?client_id=[CID]&api_key=[AKEY]' | python -m json.tool
ssh_key_id: 0
